body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 90%;
  margin: 30px auto;
}
